/build/
/out/
/cmake-build-*/
/.idea/
/.vs/
/.vscode/
/third_party/unicorn-src/
/third_party/capstone-src/
/third_party/toolchain/
*.user
*.autosave
CMakeUserPresets.json
__pycache__/
*.pyc
*.qmlc
*.jsc
*.obj
*.pdb
*.ilk
*.exp
*.lib
!device/**/*.ld
*.elf
*.hex
*.bin
!examples/**/*.bin
.DS_Store
Thumbs.db
